.comment {
  display: flex;
  flex-direction: column;
  gap: var(--primary-gap);
  padding: var(--primary-padding);
  border-radius: 0  var(--secondary-br) var(--secondary-br) var(--secondary-br);
  background-color: var(--primary-bgc);
  box-shadow: var(--main-shadow);
}

.comment.replied {
  margin-left: calc(var(--secondary-gap) * 2);
}