.wrapper {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--secondary-padding);
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: #22222277;
}

.container {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}