.album {
  display: flex;
  flex-direction: column;
  gap: var(--secondary-gap);
  padding: var(--primary-padding);
  border-radius: var(--secondary-br);
  background: var(--primary-bgc);
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: start;
  flex-wrap: wrap;
  gap: var(--primary-gap);
}