.new_post {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  gap: var(--primary-gap);
}

.new_post > div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: var(--primary-gap);
}

.input {
  resize: none;
  width: 100%;
  min-width: 200px;
  height: 4rem;
  padding: var(--primary-padding) var(--secondary-padding);
  border: solid 1px var(--light-gray);
  border-radius: var(--primary-br);
  background-color: var(--primary-bgc);
  word-wrap: break-word;
  word-break: normal;
  overflow: hidden hidden; 
}